.content{
  display: flex;
  justify-content:flex-end;
  text-align: center;
}
.fondo{
  height: 40%;
}
.card_img{
  display: flex;
  justify-content:center;
  text-align: center;
  height: 100%;
  width: 100%;
} 
.start{
  margin-top: 80px;
  border: 2px solid rgb(223, 120, 64);
}
.card_body{
  height: 40%;
  background-color:radial-gradient(ellipse at top, #e66465, transparent), radial-gradient(ellipse at bottom, #2b026b, transparent);
   /* #2b026b;  beige- #fee0a2 */
}
