
/* css game */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

:root{
  --c-gold: rgb(243, 206, 133);
  --c-beige: rgb(233, 215, 160);
  --c-purple: rgb(53, 6, 135);
}
body{
  background-color: var(--c-purple);
  color: var(--c-beige);
}

